#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 240px;
  overflow-y: hidden;
}
.sideBtn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 10px;
  /* margin: 10px 0; */
  font-size: 14px;
  width: 80%;
  height: 45px;
}
.sideBtn:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
}
.miniSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 64px;
  overflow-y: hidden;
}
